# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

acorn
acorn.cmd
ansi-html
ansi-html.cmd
atob
atob.cmd
autoprefixer
autoprefixer.cmd
babylon
babylon.cmd
browserslist
browserslist.cmd
cssesc
cssesc.cmd
detect
detect-port
detect-port.cmd
detect.cmd
errno
errno.cmd
escodegen
escodegen.cmd
esgenerate
esgenerate.cmd
eslint
eslint.cmd
esparse
esparse.cmd
esvalidate
esvalidate.cmd
handlebars
handlebars.cmd
he
he.cmd
html-minifier
html-minifier.cmd
import-local-fixture
import-local-fixture.cmd
is-ci
is-ci.cmd
jest
jest-runtime
jest-runtime.cmd
jest.cmd
js-yaml
js-yaml.cmd
jsesc
jsesc.cmd
json5
json5.cmd
loose-envify
loose-envify.cmd
miller-rabin
miller-rabin.cmd
mime
mime.cmd
mkdirp
mkdirp.cmd
multicast-dns
multicast-dns.cmd
parser
parser.cmd
prettier
prettier.cmd
react-scripts
react-scripts.cmd
regjsparser
regjsparser.cmd
rimraf
rimraf.cmd
sane
sane.cmd
semver
semver.cmd
sha.js
sha.js.cmd
sshpk-conv
sshpk-conv.cmd
sshpk-sign
sshpk-sign.cmd
sshpk-verify
sshpk-verify.cmd
svgo
svgo.cmd
terser
terser.cmd
uglifyjs
uglifyjs.cmd
uuid
uuid.cmd
watch
watch.cmd
webpack
webpack-dev-server
webpack-dev-server.cmd
webpack.cmd
which
which.cmd
csso
csso.cmd
gh-pages
gh-pages-clean
gh-pages-clean.cmd
gh-pages.cmd
internal-ip
internal-ip.cmd
rc
rc.cmd
strip-indent
strip-indent.cmd
sw-precache
sw-precache.cmd